header{
    background-color: #717C89;
    height: 60px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

header #logo{
    color: white;
    font-weight: bold;
}

header #user{
    color: white;
    font-weight: bold;
}